<p class="subtitle">系統訊息</p>
<div class="buttons">
    <button class="button is-primary">新增任務</button>
</div>

<article class="message is-primary">
    <div class="message-body">
        Lorem ipsum dolor sit amet, consectet elit. <strong>Pellentesque risus mi</strong>.
    </div>
</article>