<div class="tile is-child box">
    <p class="subtitle">任務清單列表</p>
    <table class="table is-bordered is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th class="table-th is-info">標題</th>
                <th class="table-th is-info">優先度</th>
                <th class="table-th is-info">狀態</th>
                <th class="table-th is-info">開始時間</th>
                <th class="table-th is-info">結束時間</th>
                <th class="table-th is-info">標籤</th>
            </tr>                        
        </thead>
            
        <tbody>
            <div class="">
                <tr>
                    <td>ooxx</td>
                    <td>高</td>
                    <td>已完成</td>
                    <td>123</td>
                    <td>456</td>
                    <td>--</td>
                </tr>
            </div>

            <div class="">
                <tr>
                    <td>ooxx</td>
                    <td>低</td>
                    <td>進行中</td>
                    <td>789</td>
                    <td>123</td>
                    <td>--</td>
                </tr>
            </div>
        </tbody>
    </table>
</div>