<div data-controller="" class="is-child box field columns is-gapless" >
    <div class="control column">
        <input type="text" class="input">
    </div>
    <div class="control column">
        <input type="text" class="input">
    </div>
    <div class="column">
        <%= image_submit_tag("baseline_search.png", class:"button is-primary") %>
    </div>

    <div class="tabs is-toggle is-fullwidth">
        <ul>
            <li class="is-active">
                <a>
                <span>以優先順序排序</span>
                </a>
            </li>
            <li>
                <a>
                <span>以開始時間排序</span>
                </a>
            </li>
            <li>
                <a>
                <span>以結束時間排序</span>
                </a>
            </li>
        </ul>
    </div>

    <hr>
</div>