<p class="subtitle">選取任務內容</p>
<div class="buttons">
    <button class="button is-primary">編輯該任務</button>
    <button class="button is-light">刪除該任務</button>
</div>

<div class="table-container">
    <table class="table is-bordered is-fullwidth">
        <tbody>
            <tr>
                <th class="table-index-info-th is-info">標題</th>
                <td colspan="2">ooxx</td>
            </tr>
            <tr>
                <th class="table-index-info-th is-info">內容</th>
                <td colspan="2">ooxx</td>
            </tr>
        </tbody>
    </table>
</div>