
<div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
        <div class="">
            <%= render 'shared/index_search_bar' %>
        </div>

        <div class="">
            <%= render 'shared/index_missions_list' %>
        </div>
    </div>

    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <%= render 'shared/index_message_zone' %>      
        </div>

        <div class="tile is-child box mission-content-detail">
            <%= render 'shared/index_chose_content' %>
        </div>
    </div>

</div>


<script>

$(function(){


    $(".missions-list-table").on("click", ".mission-row", function(){
        mission_id = $(this).attr("mission-id");   

        $(".mission-row").css("background-color","#FFFFFF");
        $(".mission-content-detail").css("background-color","#FFFFFF");
        $(this).css("background-color","#EBFFFC");
        $(".mission-content-detail").css("background-color","#EBFFFC");
 
        $.ajax({
            type: "GET",
            url: "/missions/"+mission_id,
            dataType: "json",
            success: function(data){            
                $("#chose-mission-title").html(data.title);
                $("#chose-mission-content").html(data.content);    
                $("#edit-mission-link").attr("href","/missions/"+mission_id+"/edit");
                $("#delete-mission-link").attr("href","/missions/"+mission_id); 
                


            }  
        })


    });







});

</script>