
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container title-left">
      <h1 class="title">
        任務排程管理
      </h1>
      <h2 class="subtitle">
        Mission Scheduling Editor
      </h2>
    </div>
  </div> 
</section>

<hr>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
        <div class="">
            <%= render 'shared/index_search_bar' %>
        </div>

        <div class="">
            <%= render 'shared/index_missions_list' %>
        </div>
    </div>

    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <%= render 'shared/index_message_zone' %>      
        </div>

        <div class="tile is-child box">
            <%= render 'shared/index_chose_content' %>
        </div>
    </div>

</div>